In [15]:
import pandas as pd
import numpy as np

In [16]:
# se usa pd como sobrenombre de pandas
pd.read_csv("data.csv")

,Time,Power,Current,V1,V2,V3,V4,V5,V6,V7,...,V39,V40,V41,V42,V43,V44,V45,V46,V47,V48
0,0,9751.855054,23.194664,26.981230,26.981230,26.973406,26.981230,26.981230,26.981230,26.981230,...,25.923836,25.923836,25.916177,25.923836,25.923836,25.923836,25.923836,25.916177,25.923836,25.923836
1,0.005,9327.646501,22.186887,26.595084,26.590496,26.581026,26.581640,26.578936,26.585754,26.587160,...,26.130718,26.121655,26.121467,26.123370,26.125228,26.124651,26.115087,26.125892,26.122222,26.119418
2,0.01,9343.714000,22.228331,26.558807,26.554412,26.545014,26.545930,26.543340,26.549870,26.551216,...,26.101107,26.092450,26.091930,26.094089,26.095863,26.095312,26.086177,26.096156,26.092992,26.090314
3,0.015,9344.852760,22.232436,26.517370,26.512969,26.503568,26.504474,26.501881,26.508420,26.509769,...,26.082333,26.073660,26.073154,26.075302,26.077079,26.076527,26.067376,26.077387,26.074203,26.071521
4,0.02,9360.422049,22.264882,26.582297,26.577895,26.568483,26.569400,26.566807,26.573346,26.574695,...,26.121293,26.112622,26.112098,26.114264,26.116041,26.115489,26.106339,26.116331,26.113165,26.110483
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4473,21.98,9014.819058,21.442658,26.608449,26.604055,26.594667,26.595574,26.592984,26.599513,26.600860,...,28.082237,28.074487,28.074026,28.075954,28.077542,28.077049,28.068871,28.077809,28.074972,28.072575
4474,"21,985",9035.946557,21.490311,26.624369,26.619973,26.610559,26.611489,26.608898,26.615430,26.616777,...,28.077814,28.070055,28.069594,28.071524,28.073114,28.072620,28.064433,28.073381,28.070541,28.068141
4475,21.99,9021.186553,21.455030,26.648529,26.644119,26.634718,26.635606,26.633007,26.639560,26.640912,...,28.093464,28.085698,28.085244,28.087168,28.088760,28.088266,28.080070,28.089035,28.086184,28.083782
4476,"21,995",9003.430889,21.414503,26.675953,26.671554,26.662162,26.663063,26.660471,26.667007,26.668355,...,28.085275,28.077510,28.077076,28.078980,28.080571,28.080077,28.071883,28.080866,28.077996,28.075594
4477,22,9010.428530,21.436173,26.548611,26.544213,26.534818,26.535728,26.533137,26.539670,26.541017,...,28.050995,28.043255,28.042802,28.044720,28.046306,28.045814,28.037646,28.046580,28.043739,28.041345

In [17]:
data_df = pd.read_csv("data.csv")

In [18]:
data_df

,Time,Power,Current,V1,V2,V3,V4,V5,V6,V7,...,V39,V40,V41,V42,V43,V44,V45,V46,V47,V48
0,0,9751.855054,23.194664,26.981230,26.981230,26.973406,26.981230,26.981230,26.981230,26.981230,...,25.923836,25.923836,25.916177,25.923836,25.923836,25.923836,25.923836,25.916177,25.923836,25.923836
1,0.005,9327.646501,22.186887,26.595084,26.590496,26.581026,26.581640,26.578936,26.585754,26.587160,...,26.130718,26.121655,26.121467,26.123370,26.125228,26.124651,26.115087,26.125892,26.122222,26.119418
2,0.01,9343.714000,22.228331,26.558807,26.554412,26.545014,26.545930,26.543340,26.549870,26.551216,...,26.101107,26.092450,26.091930,26.094089,26.095863,26.095312,26.086177,26.096156,26.092992,26.090314
3,0.015,9344.852760,22.232436,26.517370,26.512969,26.503568,26.504474,26.501881,26.508420,26.509769,...,26.082333,26.073660,26.073154,26.075302,26.077079,26.076527,26.067376,26.077387,26.074203,26.071521
4,0.02,9360.422049,22.264882,26.582297,26.577895,26.568483,26.569400,26.566807,26.573346,26.574695,...,26.121293,26.112622,26.112098,26.114264,26.116041,26.115489,26.106339,26.116331,26.113165,26.110483
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4473,21.98,9014.819058,21.442658,26.608449,26.604055,26.594667,26.595574,26.592984,26.599513,26.600860,...,28.082237,28.074487,28.074026,28.075954,28.077542,28.077049,28.068871,28.077809,28.074972,28.072575
4474,"21,985",9035.946557,21.490311,26.624369,26.619973,26.610559,26.611489,26.608898,26.615430,26.616777,...,28.077814,28.070055,28.069594,28.071524,28.073114,28.072620,28.064433,28.073381,28.070541,28.068141
4475,21.99,9021.186553,21.455030,26.648529,26.644119,26.634718,26.635606,26.633007,26.639560,26.640912,...,28.093464,28.085698,28.085244,28.087168,28.088760,28.088266,28.080070,28.089035,28.086184,28.083782
4476,"21,995",9003.430889,21.414503,26.675953,26.671554,26.662162,26.663063,26.660471,26.667007,26.668355,...,28.085275,28.077510,28.077076,28.078980,28.080571,28.080077,28.071883,28.080866,28.077996,28.075594
4477,22,9010.428530,21.436173,26.548611,26.544213,26.534818,26.535728,26.533137,26.539670,26.541017,...,28.050995,28.043255,28.042802,28.044720,28.046306,28.045814,28.037646,28.046580,28.043739,28.041345

In [19]:
#Comprobar si hay datos nulos en el DataFrame
data_df.isnull()

,Time,Power,Current,V1,V2,V3,V4,V5,V6,V7,...,V39,V40,V41,V42,V43,V44,V45,V46,V47,V48
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4473,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4474,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4475,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4476,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4477,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [20]:
#Suma de datos faltantes en el DataFrame
data_df.isnull().sum()

Time       0
Power      0
Current    0
V1         0
V2         0
V3         0
V4         0
V5         0
V6         0
V7         0
V8         0
V9         0
V10        0
V11        0
V12        0
V13        0
V14        0
V15        0
V16        0
V17        0
V18        0
V19        0
V20        0
V21        0
V22        0
V23        0
V24        0
V25        0
V26        0
V27        0
V28        0
V29        0
V30        0
V31        0
V32        0
V33        0
V34        0
V35        0
V36        0
V37        0
V38        0
V39        0
V40        0
V41        0
V42        0
V43        0
V44        0
V45        0
V46        0
V47        0
V48        0
dtype: int64

In [21]:
# Para ver las columnas
data_df.columns

Index(['Time', 'Power', 'Current', 'V1', 'V2', 'V3', 'V4', 'V5', 'V6', 'V7',
       'V8', 'V9', 'V10', 'V11', 'V12', 'V13', 'V14', 'V15', 'V16', 'V17',
       'V18', 'V19', 'V20', 'V21', 'V22', 'V23', 'V24', 'V25', 'V26', 'V27',
       'V28', 'V29', 'V30', 'V31', 'V32', 'V33', 'V34', 'V35', 'V36', 'V37',
       'V38', 'V39', 'V40', 'V41', 'V42', 'V43', 'V44', 'V45', 'V46', 'V47',
       'V48'],
      dtype='object')

In [22]:
data_df['Current'].describe()

count    4478.000000
mean       20.332333
std         2.954027
min        14.680317
25%        21.430247
50%        21.524673
75%        22.256786
max        23.194664
Name: Current, dtype: float64

In [23]:
data_df['Current'].std()

2.9540267609822615